
@mixin flexbox{
    display: flex;
    justify-content: space-between;
}

@mixin shadowCont($blur, $shadowColor, $bgColor){
    box-shadow: 0px, 0px, $blur $shadowColor;
    padding: 10px;
    border-radius: 10px;
    background-color: $bgColor;
}

%button {
    display: block;
    border: none;
    border-radius: 30px;
    color: $colorWhite;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    font-weight: 600;
}


@mixin laptops {
    @media screen and (max-width: 70rem) {@content}    
}

@mixin tablets {
    @media screen and (max-width: 60rem) {@content}    
}

@mixin phones {
    @media screen and (max-width: 48rem) {@content}
}

