/* Victor H Gonzalez Exercise 11 */
body {
    $fontFamily: $fontFamily1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    color: #0000ff;
    background-color: #d3d3d3;
    padding: 15px 40px;
    box-sizing: border-box;
    @include flexbox;
}

.header > img {
    &:hover {
        cursor: pointer;
        transform: scale(1.08) ;
     } 
}

.header__logo {
    width: 120px;
}

.header__menu {
    display: flex;
    gap: 50px;
}

.header__nav {
    gap: 10px;
    align-items: center;    
    @include flexbox;
}

.header__nav > a {
    cursor: pointer;
}


.header__link {
    width: 9rem;
    font-weight: 600px;
    text-decoration: none;
}

.header__user {
    @include flexbox;
    gap: 10px;
}

.header__user > i img {
    cursor: pointer;
    &:hover {
        transform: scale(1.08);
    }
}

main {
    article {
        @include shadowCont(10px, #ffff00, $mainColor);
        
        .promotions__btn {
            @extend %button;
        }
    }
}


.offerings {
    font-size: 1rem;
    margin: 10px 0;
    font-family: $fontFamily2;
    text-align: center;        
}

.offerings__title {
    color: $colorWhite;
}

.promotions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 30px auto 0;
    gap: 30px 20px;
    text-align: center;
    font-weight: 700;
    font-family: $fontFamily1;
}

.promotions__img {
    width: 80%;
}

.promotions__title {
    font-size: 0.75rem;
    margin: 10px 0;
    text-align: center;
}

.promotions__btn {
    display: block;
    border: none;
    background-color: #1750cc;
    color: white;
    border-radius: 20px;
    width: 100%;
    padding: 10px 0;

}

.promotions__btn--no {
    background-color: gainsboro;    
    color: $colorBlack;
}

 
.carousel {
    width: 300px;
    margin: auto;
}

.dropdown {
    padding: 30px;
    margin-left: 50px;
    margin-bottom: 100px;
}

.accordion {
    width: 500px;
}

.list-group {
    padding: 30px;
    margin-left: 50px;
    margin-right: 200px;
    margin-bottom: 100px;
}

@include laptops {
    main { font-size:large;}
    .list-group {
        width: 350px;
        padding: 30px;
        margin-left: 50px;
        margin-right: 200px;
        margin-bottom: 100px;            
    }
    .accordion {
        width: 500px;
    }
}

@include tablets {
    main {font-size: medium;}
    .list-group {
        width: 250px;
        padding: 15px;
        margin-left: 25px;
        margin-right: 100px;
        margin-bottom: 50px;    
    }
    .accordion {
        width: 300px;
    }
    .d-inline-flex {
        width: 100px ;
        font-size: 2em;
    }

}

@include phones {
    main {font-size: small;}
    .list-group {
        width: 150px;
        padding: 10px;
        margin-left: 10px;
        margin-right: 25px;
        margin-bottom: 25px;    
    }
    .accordion {
        width: 150px;
    }
    .d-inline-flex {
        width:50px ;
        font-size: 1em;
    }

}